*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Layout */
  --header-height: 70px;

  /* Colors - Background */
  --color-bg: #fff;

  /* Colors - Text */
  --color-title: #000;
  --color-description: #000;
  --color-card-title: #555;
  --color-card-description: #333;

  /* Colors - Cards */
  --card-bg: ;
  --card-border: #ccc solid 1px;
  --card-border-radius: 12px;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
